@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #121212;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px -1px;
    z-index: 1;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 55px;
    width: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: greenyellow;
    color: #121212;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #ffffff;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger-active {
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(2) {
    width: 0px;
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
    transition-delay: 0.3s;
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    width: 30%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease-in;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menubar ul {
    list-style: none;
    padding: 0;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a:hover {
    background-color: #212121;
}

.active {
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#name p,
#name h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fff;
}

#name p {
    font-size: 20px;
}

#name h1 {
    font-size: 98px;
}

#portfolioText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.bio {
    width: 70%;
    opacity: 0;
    transform: translateY(60px);
    animation: fadeInDown 2s ease forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#title {
    
    font-size: 1.5em;
    color: red;
    font-weight: bolder;
    margin-bottom: 20px;
}

.bio p {
    color: #666;
    line-height: 1.6;
}

.highlight {
    color: greenyellow;
    font-weight: bold;
}



#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    margin: 3%;
    padding: 0;
}

#portfolio {
    overflow: hidden;
}

.star,
.circle,
#mouseIcon {
    position: absolute;
}

#star1 {
    top: 35%;
    left: 15%;
    width: 7%;
    rotate: 23deg;
    animation: scaleUp 1s linear infinite;
}

#star2 {
    top: -5%;
    left: 80%;
    width: 5%;
    rotate: 53deg;
    animation: scaleUp 1s linear infinite;
}

#mouseIcon {
    top: 25%;
    left: 75%;
    width: 8%;
}

#circle1 {
    top: -10%;
    left: 5%;
    width: 18%;
    opacity: 0.2;
    animation: spin 20s linear infinite;
}

#circle2 {
    top: 65%;
    left: 75%;
    width: 18%;
    opacity: 0.2;
    animation: spin 20s linear infinite;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*SKLILSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */



#MYSKILLS {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    margin: -50px 0 0 0;
    visibility: hidden; 
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0; 
}
  
  .letter-image {
      width: auto; 
      height: 60px;
      display: inline-block; 
      animation: wiggle 1.5s ease-in-out infinite;
  }
  
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg) scale(1);
    }
    50% {
      transform: rotate(3deg) scale(1.05);
    }
  }


.letter {
    font-size: 60px; 
    margin: 0 5px; 
}

.letterY {
    font-size: 60px; 
    margin: 0 20PX 0 -10px; 
}

.letterRE {
    font-size: 60px; 
    margin:0 20px 0 0;
}
.skills-section {
    display: flex;
    margin: -50px 0 0 0;
    justify-content: space-around;
    padding: 20px;
}

.skills-column {
    margin: 50px; 
}

.skills-column h2 {

    padding-bottom: 5px;
    color: greenyellow;
}


.skills-column ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.skills-column li {
    list-style: disc;
    margin-bottom: 5px;
}

/* soffffttweeeeareeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */



.software {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 200px;
    width: 100%; 

}

.software-icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 65px;
    transition: transform 0.3s ease; 
}

.software-icon:hover {
    transform: scale(1.3); 
}


.sketch { 
    top: 20px; 
    left: 320px; 
    transform: rotate(-10deg); 
}

.vsc { 
    top: 20px; 
    left: 440px; 
    transform: rotate(5deg); 
}

.canva { 
    top: 10px;
    left: 550px; 
    transform: rotate(0deg);
}

.ps { 
    top: -30px;
    left: 650px; 
    transform: rotate(5deg);
}

.git { 
    top: -30px;
    left: -80px; 
    transform: rotate(10deg);
}

.vs { 
    top: 10px;
    right: 350px; 
    transform: rotate(0deg);
}

.figma { 
    top: 20px;
    right: 450px;
    transform: rotate(-10deg);
}

.xd {
    top: 30px;
    right: 560px;
    transform: rotate(5deg);
}



/* trsponnnnnsivvvvvvvvvvvvvvvveeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */


@media (max-width: 768px) {
    #name {
        margin-top: 50px;
    }

    #name p {
        font-size: 18px;
    }

    #name h1 {
        font-size: 48px;
    }

    #portfolioText {
        width: 80%;
    }

    .star,
    .circle {
        width: 12%;
    }

    #mouseIcon {
        top: 5%;
        left: 80%;
        width: 8%;
    }

    #star1 {
        top: 65%;
        left: 5%;
        width: 7%;
        rotate: 23deg;
    }

    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    #arrow {
        width: 20%;
    }


    .skills-section {
        flex-direction: column;
        align-items: center;
    }
    
    .skills-column {
        width: 100%;
        max-width: 300px; 
        margin-bottom: 20px;
    }
}


/* fooooooooooooooooooooooooooooooooooooooooooooottttttttttttttttttttterrrrrrrrrrrr */
.footer {
    width: 100%;
    padding: 20px;
    background-color: #33333329; 
    color: white; 
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.footer p {
    margin: 0;
    padding-bottom: 10px; 
}

.social-media-links a {
    color: white; 
    text-decoration: none;
    margin: 0 10px; 
    transition: color 0.3s ease-in-out;
}

.social-media-links a:hover {
    color: greenyellow; 
}



@media (max-width: 480px) {
    #name {
        margin-top: 30px;
    }

    #name p {
        font-size: 16px;
    }

    #name h1 {
        font-size: 32px;
    }

    #portfolioText {
        width: 90%;
    }

    .bio {
        width: 90%;
    }

    .bio p {
        font-size: 14px;
    }

    #star1 {
        top: 65%;
        left: 15%;
        width: 7%;
        rotate: 23deg;
    }

    .star,
    .circle {
        width: 15%;
    }

    #mouseIcon {
        top: 2%;
        left: 80%;
        width: 8%;
    }

    #arrow {
        width: 20%;
    }
}


/* scrollbarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

::-webkit-scrollbar {
    width: 8px; 
    background-color: #202020; 
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #404040, #606060);
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #505050, #707070); 
}
